<div class="container">
  <h1 class="title">Account activation</h1>
  <div class="subtitle">Set your password</div>

  <div *ngIf="invalidPasswords" class="text-danger text-error">An error has occured while activating your account. Try again!</div>

  <form id="register-form" [formGroup]="form">

    <div class="input-field">
      <label class="label-field" for="password">Password</label>
      <input class="input" formControlName="password" id="password" type="password" placeholder="Password">
      <div *ngIf="form.get('password')!.invalid && form.get('password')!.errors &&
        (form.get('password')!.dirty || form.get('password')!.touched)">
        <small class="text-danger" *ngIf="form.get('password')!.hasError('required')">
          {{requiredMessage}}
        </small>
      </div>
    </div>

    <div class="input-field">
      <label class="label-field" for="confirmPassword">Confirm Password</label>
      <input class="input" formControlName="confirmPassword" id="confirmPassword" type="password" placeholder="Confirm Password">
      <div *ngIf="form.get('confirmPassword')!.invalid && form.get('confirmPassword')!.errors &&
        (form.get('confirmPassword')!.dirty || form.get('confirmPassword')!.touched)">
        <small class="text-danger" *ngIf="form.get('confirmPassword')!.hasError('required')">
          {{requiredMessage}}
        </small>
      </div>
    </div>

    <div *ngIf="invalidPasswords" class="text-danger text-error">The passwords are not the same!</div>

</form>

<button class="button" type="button" (click)="submit()" [disabled]="!form.valid">
  Submit
</button>
</div>
